- @page_title = "Checkout page"
.checkout-page
  %table.items
    %thead
      %tr
        %th Name
        %th Price
        %th Quantity
        %th.subtotal Sub Total
    %tbody
      - for cart in @carts
        %tr
          %td
            %strong= cart.product.name
          %td= number_to_currency cart.product.price
          %td= cart.quantity
          %td.subtotal= number_to_currency cart.sub_total
      %tr
        %td{colspan: "2"}
          = form_tag :clear_carts, :method => :delete do
            = button_tag "Delete all items"
        %td{style: "text-align=right"}
          %strong Total
        %td{style: "text-align=right"}
          %strong= number_to_currency @total

  %h2 Shipping Information

  = form_tag 'confirm' do
    %table.fields
      %tr
        %td First name:
        %td= text_field_tag :shipping_first_name, '', size: '30', maxlength: '30'
      %tr
        %td Last name:
        %td= text_field_tag :shipping_last_name, '', size: '30', maxlength: '30'
      %tr
        %td Address 1:
        %td= text_field_tag :shipping_address1, '', size: '30', maxlength: '30'
      %tr
        %td Address 2:
        %td= text_field_tag :shipping_address2, '', size: '30', maxlength: '30'
      %tr
        %td City:
        %td= text_field_tag :shipping_city, '', size: '30', maxlength: '30'
      %tr
        %td Country code:
        %td= text_field_tag :shipping_country_code, 'IDN', size: '3', maxlength: '3'
      %tr
        %td Postal code:
        %td= text_field_tag :shipping_postal_code, '', size: '9', maxlength: '9'
      %tr
        %td Phone:
        %td= text_field_tag :shipping_phone, '', size: '19', maxlength: '19'
      %tr
        %td Email:
        %td= email_field_tag :email, '', size: '45', maxlength: '45'

    .form-buttons
      = submit_tag("Go to checkout page")
      = submit_tag("I'm lazy, fill form for me", :onClick => "fillForm(); return false;")

:javascript
  var $ = function (selector) { return document.querySelector(selector); };
  function fillForm () {
    $('#shipping_first_name').value = "Peter";
    $('#shipping_last_name').value = "Lee";
    $('#shipping_address1').value = "jln. Kejaksaan, 1a."
    $('#shipping_city').value = "Jakarta";
    $('#shipping_postal_code').value = "13430";
    $('#shipping_phone').value = "081234567890";
    $('#email').value = "peter@example.com";
  }