!!!
%html
  %head
    %title= page_title
    = stylesheet_link_tag :application
    = # we don't need it now
    = #javascript_include_tag :application
    = csrf_meta_tag
    = yield(:head)
  %body
    %a{href: "https://github.com/veritrans/veritrans-rails-sample-cart"}
      %img{alt: "Fork me on GitHub", src: "https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png", style: "position: absolute; top: 0; right: 0; border: 0;"}/

    .container
      %header
        = link_to image_tag('logo.png'), :root
        %h4 You are seeing VT-Web example store

        - if current_carts.present?
          .cart
            = image_tag "cart.png"
            %span
              = pluralize current_carts.map(&:quantity).inject(:+), "item"
              %br
              = link_to :carts do
                = number_to_currency current_carts.map(&:sub_total).inject(:+)

      .content
        - flash.each do |name, msg|
          = content_tag :div, msg, :class => "flash-message #{name}"

        = content_tag :h1, yield(:title) if show_title?
        = yield

      %footer
        Veritrans &copy; 2013
        &nbsp;|&nbsp;
        = link_to "Source code", "https://github.com/veritrans/veritrans-rails-sample-cart"
        &nbsp;|&nbsp;
        Build with #{link_to "Ruby on Rails", "http://rubyonrails.org/"}
        and #{link_to 'gem "veritrans"', "http://rubygems.org/gems/veritrans"} for study purpose